# C++ objects and libs

*.slo
*.lo
*.o
*.a
*.la
*.lai
*.obj
*.pch
*.pdb

*.dylib

Msvc
version.h
version.py
SHORTLICENSE

# Qt-es

/.qmake.cache
/.qmake.stash
*.pro.user
*.pro.user.*
*.qbs.user
*.qbs.user.*
*.moc
moc_*.cpp
qrc_*.cpp
ui_*.h
Makefile*
*-build-*

version.py
version.bat
SHORTLICENSE
ChiikaAPI/Out/Data

# QtCreator

*.autosave

#QtCtreator Qml
*.qmlproject.user
*.qmlproject.user.*
